<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> Twitter</title>
  </head>
  <body>
    <% provide(:title, "About") %>
<h1>About</h1>
<p>
 
</p>
  </body>
</html>